<html>
	<head>
		<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
		<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
	</head>
	<body style="background-color: #c8a2c8">
	
		<h1>{{.Modified}}</h1>
		
		<table id="fancytable" class="display">
			<col width="35%">
			<col width="65%">
			<thead>
				<tr>
					<th>Link</th>
				</tr>
			</thead>
		
			<tbody>
				{{ range $key, $value := .Article }}
					 <tr>
						<td><a href="{{ $value.Location }}" target='_blank'>{{ $key }}</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	
		<script>
			$(document).ready(
				function() {
		    		$('#fancytable').DataTable();
				}
			);
		</script>
	
	</body>
</html>
